@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Graphik-Regular-Web;
  src: url("/fonts/Graphik-Regular-Web.woff2");
}
@font-face {
  font-family: Graphik-Semibold-Web;
  src: url("/fonts/Graphik-Semibold-Web.woff2");
}
@font-face {
  font-family: Graphik-Medium-Web;
  src: url("/fonts/Graphik-Medium-Web.woff2");
}

.hero-background {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #8e9af9 0,
    rgba(127, 208, 231, 0) 100%
  );
}

.paragraph-text-color {
  @apply text-[#676767];
}
.hero-gradient-text {
  background: linear-gradient(#9092fb, #86b5ef, #7bdde2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.open-wallet-gradient {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #8e9af9 0,
    rgba(127, 208, 231, 0) 100%
  );
  opacity: 0.9;
  filter: blur(80px);
}
.near-development-gradient {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #7bdde2 0,
    rgba(127, 208, 231, 0) 100%
  );
  opacity: 0.9;
  filter: blur(60px);
}
